/* set colors */

$background: #fcffe0;
$primary: #426973;
$highlight: #850e35;
// default white
$white: hsl(221, 14%, 100%);

/* override global sass variables */
@use "bulma/sass/utilities" with (
  /* not working !!! */ $family-primary: '"Original Garmond",serif',
  // $family-primary: '"Nunito", sans-serif', ^^^ will show up with --bulma has text primary className
  // primary is primary
  /// link is highlight
  // info is background
  $background: $background,
  $scheme-main: $background,
  $scheme-main-bis: $primary,
  $scheme-main-ter: $highlight,
  // above here isn't doing anything
  $primary: $primary,
  $link: $highlight,
  $info: $background
);

@forward "bulma/bulma";

/* css variables override*/
:root {
  --bulma-body-background-color: #{$background};
  --bulma-navbar-min-height: 400px;
  // --bulma-body-background-color: #f5f4ce;
  // get rid of scroll bar when not needed
  // --bulma-body-family: $family-primary;
  overflow-y: auto;
}

/* font */
@font-face {
  font-family: "Original Garamond";
  src: url("/fonts/ogr.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

.navbar-item {
  color: $white !important;
}
.navbar-link {
  color: $white;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.pageContainer {
  flex: 1;
}

.my-footer {
  margin-bottom: 15px;
}

// // Override Sass variables from the /form folder
// @use "bulma/sass/form" with (
//   $input-shadow: none
// );

// // Import the components you need
// @forward "bulma/sass/base";
// @forward "bulma/sass/components/card";
// @forward "bulma/sass/components/modal";
// @forward "bulma/sass/components/navbar";
// @forward "bulma/sass/elements/button";
// @forward "bulma/sass/elements/icon";
// @forward "bulma/sass/elements/content";
// @forward "bulma/sass/elements/notification";
// @forward "bulma/sass/elements/progress";
// @forward "bulma/sass/elements/tag";
// @forward "bulma/sass/layout/footer";

// // Import the themes so that all CSS variables have a value

// // Import the Google Font
@import url("https:; //fonts.googleapis.com/css?family=Nunito:400,700");

/*
old schemes
*/

// #pageContainer {
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   /* width: 100%; */
//   margin: 0px;
//   height: 10000px;
//   /* 1 */
//   /* background-color: #fcffe0; */
//   /* 1.5 */
//   background-color: #fcffe0;

//   /* 2 */
//   /* background-color: #f5f5dc; */
// }

// #navbar {
//   margin-top: 0px;
//   /* 1 */
//   /* background-color: #75a47f; */

//   /* 1.5 */
//   background-color: #426973;

//   /* 2 */

//   /* background-color: #bfa446; */
//   width: 100%;
//   height: 70px;
// }

// #content-1 {
//   /* background-color: red; */
//   width: 80%;
//   height: 200px;
//   margin: 40px;
//   /* 1 */
//   /* color: black; */
//   /* 1.5 */
//   color: black;

//   /* 2 */
//   /* color: #4a4a4a; */
// }

// #content-2 {
//   /* background-color: red; */
//   width: 80%;
//   height: 200px;
// }
// #subtitle {
//   font-size: 20px;
//   /* 1 */
//   /* color: black; */
//   /* 1.5 */
//   color: black;

//   /* 2 */
//   /* color: #4a4a4a; */
// }
// #title {
//   font-size: 30px;
//   /* 1 */
//   /* color: #75a47f; */

//   /* 1.5 */
//   color: #2f4c53;
//   /* 2 */
//   /* color: #8d742a; */
// }

// #btn {
//   /* text color */
//   color: white;
//   /* btn color */
//   /* 1 */
//   /* background-color: #8e3e63;
//   border-color: #8e3e63; */
//   /* 1.5 */
//   background-color: #8e3e63;
//   border-color: #8e3e63;
//   /* 2 */
//   /* background-color: #b36276; */
//   /* border-color: #b36276; */
// }
